@use "./Variables.scss";

.directory {
  &__login-required {
    text-align: center;
    margin-top: 10%;
    color: red;
    font-size: x-large;
  }
  &__card-container {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }
  &__header {
    height: 160px;
    background-color: rgb(244, 244, 244);
    display: flex;
    margin-bottom: 8px;
    align-items: center;
    &__title {
      margin-left: 10%;
      font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    }
  }
  &__utilities {
    &__container {
      display: flex;
      justify-content: center;
      gap: 80px;
      margin-top: 40px;
      margin-bottom: 32px;
      @media (max-width: 600px) {
        flex-direction: column;
        gap: 16px;
        align-items: center;
      }
    }
    &__btn {
      background-color: Variables.$btn-clr;
      color: Variables.$btn-txt;
      height: 32px;
      width: 120px;
      text-decoration: none;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 8px;

      @media (max-width: 600px) {
        width: 240px;
      }

      &:hover {
        background-color: Variables.$btn-hover-clr;
      }
    }
    &__para {
      @media (max-width: 410px) {
        margin: 0px 10px 0px 10px;
        text-align: center;
      }
    }
  }
}
