.directory {
  &__card-container {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }
  &__header {
    height: 160px;
    background-color: rgb(244, 244, 244);
    display: flex;
    margin-bottom: 8px;
    align-items: center;
    &__title {
      margin-left: 10%;
    }
  }
  &__utilities {
    &__container {
      display: flex;
      justify-content: center;
      gap: 80px;
      margin-top: 40px;
      margin-bottom: 32px;
    }
  }
}
