@use "./Variables.scss";

.directory {
  &__card-container {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }
  &__header {
    height: 160px;
    background-color: rgb(244, 244, 244);
    display: flex;
    margin-bottom: 8px;
    align-items: center;
    &__title {
      margin-left: 10%;
    }
  }
  &__utilities {
    &__container {
      display: flex;
      justify-content: center;
      gap: 80px;
      margin-top: 40px;
      margin-bottom: 32px;
    }
    &__btn {
      background-color: Variables.$btn-clr;
      color: Variables.$btn-txt;
      height: 32px;
      width: 120px;
      text-decoration: none;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 8px;
      &:hover {
        background-color: Variables.$btn-hover-clr;
      }
    }
  }
}
