.employee-form {
  display: "flex";
  flex-direction: "column";
  max-width: "300px";
  gap: "10px";
  &__current-employee {
    display: flex;
    gap: 8px;
  }
  &__date-box__container {
    display: flex;
    flex-direction: row-reverse;
    justify-content: left;
    gap: 2px;
  }
}

#start-date__container {
  display: flex;
  flex-direction: column;
}
