@use "./Variables.scss";

.top {
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: right;

  &__btn-container {
    display: flex;
    justify-content: right;
    gap: 8px;
    align-items: center;
  }
  &__user {
    font-weight: 600;
  }
  &__approval-btn {
    border: none;
    height: 24px;
    border-radius: 8px 0px 0px 8px;
    background-color: rgb(233, 233, 233);
    font-weight: 600;
    @media (max-width: 475px) {
      margin-left: auto;
    }
    &:hover {
      background-color: black;
      color: white;
    }
  }
  &__logout-btn {
    background-color: Variables.$btn-clr;
    border: none;
    color: Variables.$btn-txt;
    height: 24px;
    width: 80px;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    &:hover {
      background-color: Variables.$btn-hover-clr;
    }
  }
}
